:root {
   --color-white: #fff;
   --color-black: #000;
   --color-orange: #f3a933;
   --color-orange-light: #f7c26e;
   --color-orange-dark: #d98b0d;
   --box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}
