@import "mixins";

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;

   li {
      list-style-type: none;
   }
}

.icon-list {
   display: flex;
   position: absolute;
   z-index: 1;
   gap: 20px;
   max-width: 100%;
   place-items: center;
   flex-direction: column;

   @include breakpoint("tablet") {
      flex-direction: row;
   }
}
