/* Constants */
@import "./constants/_colors.scss";
@import "./constants/_form.scss";
@import "./constants/_button.scss";

/* Global */
@import "_form.scss";
@import "_button.scss";
@import "_list.scss";

main {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

   position: relative;
   background-color: #fff;

   form {
      position: relative;
      z-index: 1;
      display: grid;
      gap: 20px;
   }
}
