.container {
   position: relative;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(../../assets/random.jpeg);
   background-size: cover;

   h1 {
      margin: 0 0 40px 0;
   }

   &Buttons {
      display: grid;
      // width: 400px;
      max-width: 100%;
      gap: 20px;
      grid-template-columns: 1fr 1fr;
   }
}
