@import "../../styles/mixins";

.container {
   position: relative;
   height: 100%;
   width: 100%;
   background-image: url(../../assets/food3.webp);
   background-size: cover;

   &Options {
      width: 100vw;
      height: 100vh;
      position: relative;
      gap: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      box-sizing: border-box;
      padding-top: 80px;

      @include breakpoint("tablet") {
         padding: 40px;
         padding-top: 80px;
      }

      .list {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 10px;
         position: relative;
         z-index: 1;
         width: 900px;
         max-width: 100%;
         @include breakpoint("tablet") {
            gap: 20px;
         }
      }
   }
}
