@import "styles/globals.scss";

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body.theme-purple {
   --color-main: var(--color-purple);
   --color-main-gradient: linear-gradient(
      180deg,
      rgba(170, 137, 245, 1) 0%,
      rgba(126, 77, 241, 1) 100%
   );
   --color-main-hover: var(--color-purple-dark);
   --color-second: var(--color-orange);
}
